@charset 'utf-8';



body{
    background-color: rgb(203, 197, 197);
}

table, td, th{
    border: solid, 1px, gray;
}


.header{
    background-color: white;
    padding: 16px;
    margin-top: 0px;
}

.container{
    margin: 48px auto;
}

.login-form{
    background-color: white;
    width: 320px;
    margin: 0 auto;
    padding: 16px;
}

.login-input-form{
    width: 100%;
}

.form-new{
    margin-bottom: 40px;
}

.login-button{
    margin-top: 16px;
    width: 100%;
}

.cards-table{
    margin: 0 auto;
}

.cards-header>th{
    background-color: rgb(148, 214, 255);
}

.logout-button{
    text-align: right;
}